[project]
	description = Typo is the oldest and most powerful Ruby on Rails blogware, providing custom templates, powerful drag and drop plugins API, advanced SEO capabilities, XMLRPC API and many more.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sombrabr
[access "refs/for/refs/*"]
	read = group user/sombrabr
	push = group user/sombrabr
	label-Code-Review = -2..+2 group user/sombrabr
	label-Verified = -1..+1 group user/sombrabr
	rebase = group user/sombrabr
	removeReviewer = group user/sombrabr
	submit = group user/sombrabr
[access "refs/heads/*"]
	read = group user/sombrabr
	create = group user/sombrabr
	push = +force group user/sombrabr
	pushMerge = group user/sombrabr
[access "refs/tags/*"]
	push = +force group user/sombrabr
	pushTag = group user/sombrabr
	pushSignedTag = group user/sombrabr
